<mat-card>
  <a (click)="onModalCancel()" class="close-button"><mat-icon class="close-icon" color="warn">close</mat-icon></a>
  <div class="col-sm-12">
    <h3>Ajoutez des photos</h3>
  </div>
  <div class="col-sm-12">
    <mat-divider></mat-divider>
  </div>
  <div class="col-sm-12" style="margin-top: 10px;">
    <img src="assets/imgs/ajout.PNG"/>
    </div>

    <div class="col-sm-12" style="text-align: center; margin-top: 50px;">
      <button mat-raised-button type="button" label="Click" (click)="onModalCancel()"  style=" background-color: #EB4444; color: white; margin-right:5px ;" >Annulez</button>
      <button mat-raised-button style=" background-color: #4183D7; color: white; margin-left: 5px;" type="button" label="Click" (click)="onOpenSuivantModal()">Suivant </button>
        </div>
</mat-card>>