<mat-card>
  <a (click)="onModalCancel()" class="close-button"><mat-icon class="close-icon" color="warn">close</mat-icon></a>
<div class="col-sm-12">
<img src="assets/imgs/narutotest.jpeg"/>
</div>
<div class="col-sm-12">
  <h5>Naruto</h5>
</div>
<div class="col-sm-12">
  <mat-divider></mat-divider>
</div>
<div class="col-sm-12">
  <h5>Critère</h5>
  <p>Bon état</p>
</div>
<div class="col-sm-12">
  <mat-divider></mat-divider>
</div>
<div class="col-sm-12">
  <h5>Description</h5>
  <p>Bonjour,

    Je mets en vente les tomes 1 à 5 de la série Naruto
    
    Les mangas sont en excellent état.

    
    15 euros le lot.
    
    Remise en mains propres sur Paris sinon livraison Mondial relay.
    
    Paiement en espèces si remise en mains propres.</p>
</div>
<div class="col-sm-12">
  <mat-divider></mat-divider>
</div>
<div class="col-sm-12">
  <h5>Localisation</h5>
  <p>Colombes</p>
    <img src="assets/imgs/Colombes.PNG"/>
</div>



</mat-card>