
 <a (click)="onModalCancel()" class="close-button"><mat-icon class="close-icon" color="warn">close</mat-icon></a>
<div id="panel2" class="panel">

  <div id="msgArea">
    <br/>
    <div class="msg otherMSG"><div></div><div>Bonjour, votre offre m'intéresse !</div></div>
    <br/>
    <div class="msg userMSG"><div></div><div>Bonjour, combien me proposez vous ?</div></div>
    <div class="msg otherMSG"><div></div><div>Je vous propose 50 euros pour le lot</div></div>
    <div class="msg userMSG"><div></div><div>Très bien, je vous recontacte dans la journée !</div></div>
    <div class="msg otherMSG"><div></div><div>Merci, bonne journée !</div></div>
  </div>

  <div id="msgInputWrap">
    <input type="text" placeholder="Message"/>
    <button mat-raised-button style="margin-left: 20px; text-align: center; font-size: x-small;"><mat-icon class="material-icons md-48">send</mat-icon></button>
  </div>

</div>
