@import url(https://fonts.googleapis.com/css?family=Roboto);
@import url(https://fonts.googleapis.com/css?family=Arimo);
@import url(https://fonts.googleapis.com/css?family=Raleway);
@import url(https://fonts.googleapis.com/css?family=Port+Lligat+Sans);

input{
	border:none;
	outline:none;
}
#header{
	position:relative;
	display:block;
	height:8vh;
	width:100vw;
	background-color:#58c;
	z-index:1;
	text-align:right;
}


#panel > div{
	display:block;
	width:100%;
}
#msgArea{
	height:85vh;
	overflow-y:scroll;
}
.msg{
	display:block;
	margin-top:1px;
	overflow:hidden;
	font-size:1.2vw;
}
.msg div{
	position:relative;
	display:inline-block;
	vertical-align:top;
}
.msg div:first-child{
	height:0;
	width:0;
	border-top:.5vw solid transparent;
	border-bottom:.5vw solid transparent;
	border-right:.5vw solid #4c9;
}
.msg div:last-child{
	max-width:40%;
	padding:.25% .5% .25% .5%;
	background-color:#4c9;
   white-space:-pre-wrap;
   white-space:-moz-pre-wrap;
   white-space:pre-wrap;
   word-wrap:break-word;
	font-family:'Roboto';
	font-size:.95em;
	border-radius:5px;
	border-top-left-radius:0;
}
.userMSG div:last-child{
	float:right;
	background-color:#49c;
	border-radius:5px;
	border-top-right-radius:0;
}
.userMSG div:first-child{
	float:right;
	margin-right:.5vw;
	border-right:none;
	border-left:.5vw solid #49c;
}
.otherMSG div:first-child{
	margin-left:.5vw;
}
#msgInputWrap{
	height:7vh;
	background-color:rgba(214,214,214,1);
	text-align:center;
	z-index:2;
}
#msgInputWrap input[type="text"]{
	height:50%;
	width:90%;
	margin-top:1.8vh;
	background-color:rgba(255,255,255,.4);
	padding-left:1%;
	padding-right:1%;
	border-radius:2px;
}
#msgInputWrap input[type="text"]::-webkit-input-placeholder{
	word-space:pre;
	color:#777;
	opacity:1;
}
#msgInputWrap input[type="text"]::-moz-placeholder{
	word-space:pre;
	color:#777;
	opacity:1;
}
#msgInputWrap input[type="text"]:-moz-placeholder{
	word-space:pre;
	color:#777;
	opacity:1;
}
#msgInputWrap input[type="text"]:-ms-input-placeholder{
	word-space:pre;
	color:#777;
	opacity:1;
}
#panel3{
	width:10vw;
	background-image:-webkit-linear-gradient(right,#c0c0c0 .86%,#ccc .87%);
	background-image:-moz-linear-gradient(right,#c0c0c0 .86%,#ccc .87%);
	background-image:linear-gradient(to right,#c0c0c0 .86%,#ccc .87%);
	overflow-y:scroll;
}
.board{
	display:block;
	max-width:96%;
	width:auto;
	margin-left:2%;
	overflow-y:hidden;
}
.board .bName{
	color:#555;
	font-family:sans-serif;
	font-size:.9vw;
	padding-bottom:5px;
}
.board .bText{
	font-family:sans-serif;
	font-size:1.1vw;
	border-top:1px solid rgba(0,0,0,.1);
}
#panel3 > div:last-child{
	border-bottom:2vh solid transparent;
}