h1
{
  text-align: center;
}
h5{
  text-align: center;
}


mat-card
{
  
  background-color: #EFEFEF;
  width: 1000px;
  height: 200px;
}

.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}
.full-width
{
  font-size: 1.2em;
}