<div class="container">
  <h1>
    Nous vous assuront une livraison en point relais/chez vous ! 
  </h1>
  <h5>
    Trouvé le ou les mangas qui vous correspondent parmis des millions d'offres ! 
  </h5>
  <mat-card style="">

<app-filtre></app-filtre>
<div class="" style=" margin-left: 400px;">
  <button mat-raised-button style=" background-color: #4183D7; color: white;"type="button" label="Click" (click)="toggleChild()">Rechercher</button>
</div>
</mat-card>
<div>
  <app-contenu [showMePartially]="showVar"></app-contenu>
</div>

</div>
