@import '~@angular/material/theming';
@include mat-core();

html
{
  	  /* The image used */
      background: url("assets/imgs/fondSite.png");
	    /* Half height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

table {
  width: 100%;
  text-align: start;
}

.fc-unthemed .fc-list-empty {
  background-color: transparent;
}

.mat-tooltip {
  font-size: small !important;
}

.full-width {
  width: 100%;
}

.close-button{
  float: right;
  top:-24px;
  right:-24px;
  cursor: pointer
  
}
.tabResponsive {
  display: flex;
  flex-direction: column;
  max-height: 640px;
  min-width: 300px;
}
.mat-tablee {
  overflow: auto;
  max-height: 690px;
}



.row{
  margin: 10px;
}

label{
  margin-right: 5px;
}
.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  padding-top: 20px;
  z-index: -1;
}

html, body {
  font-family: Roboto-Bold, Arial, sans-serif;
}
h1, h2, h3, h4, h5 {
  font-family: 'Sansa Pro';
}
body {
  margin: 0; 
}

.table-row {
  height: 5px !important;
}

@media only screen and (max-width: 1750px) {

  .reducTab, .reducPriseNote
  {
    width: 95%;
    
  }	
  
    }
@media only screen and (max-width: 1450px) {

  .reducTab, .reducPriseNote
  {
    width: 85%;
    
  }	
  
    }

@media only screen and (max-width: 1100px) {

  .reducTab, .reducPriseNote
  {
    width: 80%;
    
  }	
  
    }

@media only screen and (max-width: 1000px) {

.reducTab, .reducPriseNote
{
  width: 75%;
  
}	
.reducPriseNote
{
  margin-right: 0;
}



  }

