<div class="wait">
  <mat-card>

<div class="row">

<div class="col-sm-12">
   <p><mat-icon>settings</mat-icon></p>
</div>
</div>
<div class="row">
<div class="col-12">
  <mat-divider></mat-divider>
</div>
</div>

<div class="row">

  <div class="test">
    <div class="row text-center">
  
      <div class="col-sm-6">
  
        <mat-form-field class="example-full-width" style="font-size:x-large;">
          <mat-label>Nom</mat-label>
          <input matInput placeholder="" value="">
        </mat-form-field>
  
      </div>
      <div class="col-sm-6">
  
        <mat-form-field class="example-full-width" style="font-size:x-large;">
          <mat-label>Prénom</mat-label>
          <input matInput placeholder="" value="">
        </mat-form-field>
  
      </div>
      <div class="col-sm-12">
        <mat-divider></mat-divider>
      </div>
      <div class="col-sm-6">
  
        <mat-form-field class="example-full-width" style="font-size:x-large;">
          <mat-label>Région</mat-label>
          <input matInput placeholder="" value="">
        </mat-form-field>
  
      </div>
      <div class="col-sm-6">
  
        <mat-form-field class="example-full-width" style="font-size:x-large;">
          <mat-label>Agence</mat-label>
          <input matInput placeholder="" value="">
        </mat-form-field>
  
      </div>
      <div class="col-sm-12">
        <mat-divider></mat-divider>
      </div>
      <div class="col-sm-6">
  
        <mat-form-field class="example-full-width" style="font-size:x-large;">
          <mat-label>Adresse</mat-label>
          <input matInput placeholder="" value="">
        </mat-form-field>
  
      </div>
      <div class="col-sm-6">
  
        <mat-form-field class="example-full-width" style="font-size:x-large;">
          <mat-label>Ville</mat-label>
          <input matInput placeholder="" value="">
        </mat-form-field>
  
      </div>
      <div class="col-sm-12">
        <mat-divider></mat-divider>
      </div>
      <div class="col-sm-6">
  
        <mat-form-field class="example-full-width" style="font-size:x-large;">
          <mat-label>Téléphonne</mat-label>
          <input matInput placeholder="" value="">
        </mat-form-field>
  
      </div>
      <div class="col-sm-6">
  
        <mat-form-field class="example-full-width" style="font-size:x-large;">
          <mat-label>Mail </mat-label>
          <input matInput placeholder="" value="">
        </mat-form-field>
  
      </div>
      <div class="col-sm-12">
          <button mat-raised-button style="background-color:#4183D7 ; color: white;"><mat-icon>save</mat-icon></button>
      </div>
    </div>
  </div>
</div>
</mat-card>
</div>
