<html>
  

  <div class="menuEntier" [class.FunctionMenu]="mobileQuery.matches">
    <header>
      <mat-toolbar class="toolbar">
        <button mat-icon-button (click)="snav.toggle()">
          <mat-icon>menu</mat-icon>
        </button>
        <a [routerLink]="['']"><img class="logo" src="assets/imgs/logoProjettrans.PNG"></a>
        <span class="spacer"></span>
        <mat-form-field>
          <mat-icon matPrefix>search</mat-icon>
          <input matInput type="search" class="search-input">
      </mat-form-field>
        <span class="spacer"></span>
        <button type="button" aria-label="Toggle sidenav" mat-icon-button [routerLink]="['/parametre']">
          <mat-icon aria-label="Side nav toggle icon">settings</mat-icon>
        </button>
        <button type="button" aria-label="Toggle sidenav" mat-icon-button [matMenuTriggerFor]="aboveMenu">
          <mat-icon aria-label="Side nav toggle icon">account_box</mat-icon>
        </button>
        <mat-menu type="button" #aboveMenu="matMenu" yPosition="above">
          <button type="button" (click)="openDialog()" mat-menu-item>Connexion</button>
        </mat-menu>
  
      </mat-toolbar>
    </header>
    <mat-sidenav-container class="sidenav-container" [style.marginTop.px]="mobileQuery.matches ? 56 : 0">
      <mat-sidenav opened="true" #snav [mode]="mobileQuery.matches ? 'over' : 'side'" [fixedInViewport]="mobileQuery.matches"
        fixedTopGap="56">
        <mat-nav-list>
          <div class="center" *ngIf="!router.url.includes('/login')">
            <app-menu></app-menu>
          </div>
        </mat-nav-list>
      </mat-sidenav>
      <mat-sidenav-content>
  
        <router-outlet></router-outlet>
  
      </mat-sidenav-content>
  
  
    </mat-sidenav-container>
  
  </div>
</html>