

  .spacer {
	  flex:1 1 auto;
  }
  

	   .menuEntier {
		display: flex;
		flex-direction: column;
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
	  }
	  
	  .FunctionMenu .toolbar {
		position: fixed;
		/* Make sure the toolbar will stay on top of the content as it scrolls past. */
		z-index: 2;
	  }
	  
	 
	  
	  .sidenav-container {
		/* When the sidenav is not fixed, stretch the sidenav container to fill the available space. This
		   causes `<mat-sidenav-content>` to act as our scrolling element for desktop layouts. */
		flex: 1;
	  }
	  
	  .FunctionMenu .sidenav-container {
		/* When the sidenav is fixed, don't constrain the height of the sidenav container. This allows the
		   `<body>` to be our scrolling element for mobile layouts. */
		flex: 1 0 auto;
	  }
	  

.toolbar
{
	background-color: #EFEFEF;
	color: #333333;
	
}
.logo
{
	height: 55px;
}
.imageFooter
{
	width:100%; 
	
}
.md-padding
{
	position: fixed;
	bottom: 0;
}
.recherPriseAppel
{
	color: black;
	width: 10px;
}

@media only screen and (max-width: 1000px) {

	.titreIntercom{
		color: white; text-align: center; font-size: x-large;
	}

.logo{
	height: 30px;
}
.imageFooter{
	width:100%; 

}
.md-padding
{
	position: none;
	bottom: none;
	
}

  }
	  