<mat-card>
  <a (click)="onModalCancel()" class="close-button"><mat-icon>close</mat-icon></a>
  <div class="col-sm-12">
    <h3>Consultez vos annonces sauvagardées</h3>
  </div>    
  <div class="col-sm-12">
    <mat-divider></mat-divider>
  </div>
  <div class="col-sm-12" style="text-align: center; margin-top: 150px;">
<div class="col-sm-12">
<h5>Vous n'avez pas d'annonce sauvegardées</h5>
</div>
<div class="col-sm-12">
  <button mat-raised-button style=" background-color: #4183D7; color: white;" type="button" label="Click" (click)="onOpenSuivantModal()">Faire une nouvelle recherche </button>
</div>

  </div>


</mat-card>