<div class="container">

<div class="col-sm-12">
<label *ngFor="let radiobutton of radioItems">
  <input type="radio" name="options" (click)="model.option = radiobutton"
  [checked]="radiobutton === model.option">     {{radiobutton}}
</label>
</div>


<div class="col-sm-4" style="padding: 0 0 20px 20px">
  
  
  <mat-form-field style="max-height: 20px;">
    <mat-select name="countryString" [(value)]="selectedCountry" placeholder="Type mangas" style="max-height: 20px;">
      <mat-option [value]="'Kodo'">Kodomo</mat-option>
      <mat-option [value]="'Sho'">ShÕnen</mat-option>
      <mat-option [value]="'Nek'">Nekketsu</mat-option>
      <mat-option [value]="'Pan'">Pantsu</mat-option>
      <mat-option [value]="'Shoj'">ShÕjo</mat-option>
      <mat-option [value]="'Sei'">Seinen</mat-option>
      <mat-option [value]="'Jo'">Josei</mat-option>
      <mat-option [value]="'Yon'">YonkÕma</mat-option>
      <mat-option [value]="'Do'">DÕjinshi</mat-option>
      <mat-option [value]="'Yao'">Yaoi</mat-option>
      <mat-option [value]="'Yu'">Yuri</mat-option>
      <mat-option [value]="'Hen'">Hentai</mat-option>
    </mat-select>
  </mat-form-field>
</div>
  <div class="col-sm-4">
    <button mat-button mat-icon-button (click)="OnSearch()"
      matTooltip="Buscar">
      <mat-icon>search</mat-icon>
    </button>
    
    <mat-form-field
      class="form-field"
      [floatLabel]="'never'">
      <input matInput type="text" placeholder="Que rechercher-vous ?" [(ngModel)]="value"
      (keyup.enter)="OnSearch()"/>
    </mat-form-field>

    
    <button mat-button mat-icon-button (click)="OnClear()"
      matTooltip="Borrar búsqueda">
      <mat-icon>clear</mat-icon>
    </button>

    </div>

    <div class="col-sm-4" style="padding: 0 0 20px 20px">
  
  
      <mat-form-field>
        <mat-select name="countryString" [(value)]="selectedCountry" placeholder="Localisation">
          <mat-option [value]="'Kodo'">Paris</mat-option>
          <mat-option [value]="'Sho'">Marseille</mat-option>
          <mat-option [value]="'Nek'">Rouen</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="col-sm-1">
      <button mat-raised-button style="font-size: x-small; background-color: #EF964F; color: white;">Prix croissant</button>
    </div>
    <div class="col-sm-1">
      <button mat-raised-button style="font-size: x-small; background-color: #EF964F; color: white;">Prix décroissant</button>
    </div>
    
  </div>

