@font-face {
    font-family: SansaPro;
    src: url('SansaPro-Bold.woff2') format('woff2'),
        url('SansaPro-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Sansa Pro Normal';
    src: url('SansaPro-Normal.woff2') format('woff2'),
        url('SansaPro-Normal.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

