<mat-card>
  <a (click)="onModalCancel()" class="close-button"><mat-icon>close</mat-icon></a>
  <div class="col-sm-12">
    <h3>Où se situe votre bien ?</h3>
  </div>
  <div class="col-sm-12">
    <mat-divider></mat-divider>
  </div>
  <mat-form-field
  class="form-field"
  [floatLabel]="'never'">
  <mat-icon matPrefix>search</mat-icon>
  <input matInput type="text" placeholder="Renseignez votre ville" [(ngModel)]="value"
  (keyup.enter)="OnSearch()"/>
</mat-form-field>
  <div class="col-sm-12" style="margin-top: 10px;">
    <img src="assets/imgs/map.PNG"/>
    </div>
    <div class="col-sm-12" style="text-align: center; margin-top: 50px;">
      <button mat-raised-button type="button" label="Click" (click)="onModalCancel()"  style=" background-color: #EB4444; color: white; margin-right:5px ;" >Annulez</button>
      <button mat-raised-button style=" background-color: #4183D7; color: white; margin-left: 5px;" type="button" label="Click" (click)="onModalCancel()">Poster l'annonce </button>
        </div>
  
    
</mat-card>