@import '~@angular/material/theming';

.clickable {
  cursor: pointer;
  &:hover {
    @include mat-elevation(8);
  }
}

mat-card
{
  margin-top: 50px;
  background-color: #EFEFEF;
  width: 800px;
  height: 250px;
}
