

<div *ngIf="showMePartially">



  <mat-card (click)="openDialog()" matRipple class="clickable">
    <div class="col-sm-12">
      <h5>Annonces : Colombes (92700)</h5>
    </div>
<div class="col-sm-2">
  <img src="assets/imgs/narutoRezize.jpeg"/>
</div>

  <div class="col-sm-4" style="margin-left: 20px;">
    <h4>Naruto</h4>
  </div>
  <div class="col-sm-9" style="margin-left: 20px;">
    <h4 style="color:#EF964F;">10 €</h4>
  </div>
  <div class="col-sm-9" style="margin-top: 50px; margin-left: 20px;">
    <p>ShÕnen<br>
    Colombes<br>
    27 juin, 19:29</p>
  </div>
     
     


  </mat-card>

  
  <mat-card (click)="openDialog()" matRipple class="clickable">
    <div class="col-sm-12">
      <h5>Annonces : Colombes (92700)</h5>
    </div>
<div class="col-sm-2">
  <img src="assets/imgs/narutoRezize.jpeg"/>
</div>

  <div class="col-sm-4" style="margin-left: 20px;">
    <h4>Naruto</h4>
  </div>
  <div class="col-sm-9" style="margin-left: 20px;">
    <h4 style="color:#EF964F;">10 €</h4>
  </div>
  <div class="col-sm-9" style="margin-top: 50px; margin-left: 20px;">
    <p>ShÕnen<br>
    Colombes<br>
    27 juin, 19:29</p>
  </div>
     
     


  </mat-card>
  
  <mat-card (click)="openDialog()" matRipple class="clickable">
    <div class="col-sm-12">
      <h5>Annonces : Colombes (92700)</h5>
    </div>
<div class="col-sm-2">
  <img src="assets/imgs/narutoRezize.jpeg"/>
</div>

  <div class="col-sm-4" style="margin-left: 20px;">
    <h4>Naruto</h4>
  </div>
  <div class="col-sm-9" style="margin-left: 20px;">
    <h4 style="color:#EF964F;">10 €</h4>
  </div>
  <div class="col-sm-9" style="margin-top: 50px; margin-left: 20px;">
    <p>ShÕnen<br>
    Colombes<br>
    27 juin, 19:29</p>
  </div>
     
     


  </mat-card>
  
  <mat-card (click)="openDialog()" matRipple class="clickable">
    <div class="col-sm-12">
      <h5>Annonces : Colombes (92700)</h5>
    </div>
<div class="col-sm-2">
  <img src="assets/imgs/narutoRezize.jpeg"/>
</div>

  <div class="col-sm-4" style="margin-left: 20px;">
    <h4>Naruto</h4>
  </div>
  <div class="col-sm-9" style="margin-left: 20px;">
    <h4 style="color:#EF964F;">10 €</h4>
  </div>
  <div class="col-sm-9" style="margin-top: 50px; margin-left: 20px;">
    <p>ShÕnen<br>
    Colombes<br>
    27 juin, 19:29</p>
  </div>
     
     


  </mat-card>
  
  <mat-card (click)="openDialog()" matRipple class="clickable">
    <div class="col-sm-12">
      <h5>Annonces : Colombes (92700)</h5>
    </div>
<div class="col-sm-2">
  <img src="assets/imgs/narutoRezize.jpeg"/>
</div>

  <div class="col-sm-4" style="margin-left: 20px;">
    <h4>Naruto</h4>
  </div>
  <div class="col-sm-9" style="margin-left: 20px;">
    <h4 style="color:#EF964F;">10 €</h4>
  </div>
  <div class="col-sm-9" style="margin-top: 50px; margin-left: 20px;">
    <p>ShÕnen<br>
    Colombes<br>
    27 juin, 19:29</p>
  </div>
     
     


  </mat-card>
</div> 