mat-card
{
    
background-color: white;
width: 800px;
height: 750px;
}
mat-option
{
    background-color: white;
}

.comment {
    background-color: #EFEFEF;
    width: 100%;
  }

  .example-radio-group {
    display: flex;
    flex-direction: column;
    margin: 15px 0;
  }
  
  .example-radio-button {
    margin: 5px;
  }