<mat-card>
  <a (click)="onModalCancel()" class="close-button"><mat-icon>close</mat-icon></a>

  <div class="col-sm-12">
    <h3>Déposer une annonce</h3>
  </div>
  <div class="col-sm-12">
    <mat-divider></mat-divider>
  </div>
  <div class="col-sm-12">
    <h5>Commençons par l'essentiel</h5>
  </div>
  <div class="col-sm-12">
 <mat-form-field>
    <mat-label>Titre de l'annonce</mat-label>
    <input matInput type="text" [(ngModel)]="value">
    <button mat-button *ngIf="value" matSuffix mat-icon-button aria-label="Clear" (click)="value=''">
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>
  </div>
 
  <div class="col-sm-5">
     <mat-form-field>
    <mat-label>Toppings</mat-label>
    <mat-select [formControl]="toppings" multiple>
      <mat-option style="background-color: white;" *ngFor="let topping of toppingList" [value]="topping">{{topping}}</mat-option>
    </mat-select>
  </mat-form-field>
  </div>
 
  <div class="col-sm-7">
    <label *ngFor="let radiobutton of radioItems">
      <input type="radio" style="margin-left: 60px;" name="options" (click)="model.option = radiobutton"
      [checked]="radiobutton === model.option">     {{radiobutton}}
    </label>
    </div>
  
  <div class="col-sm-12">
      <mat-form-field>
        <mat-select name="countryString" [(value)]="selectedCountry" placeholder="Etat">
          <mat-option [value]="'Kodo'">Etat neuf</mat-option>
          <mat-option [value]="'Sho'">Très bon état</mat-option>
          <mat-option [value]="'Nek'">Bon état</mat-option>
          <mat-option [value]="'Pan'">Etat satisfaisant</mat-option>
        </mat-select>
      </mat-form-field>
  </div>
  <div class="col-sm-12">
    <mat-divider></mat-divider>
  </div>
  <div class="col-sm-12">
    <h5>Description de l'annonce</h5>
  </div>
  <div class="col-sm-12">
  <mat-form-field class="comment">
    <textarea matInput placeholder="Description" value=""
    ngModel name="comments"></textarea>
  </mat-form-field>
  </div>
<div class="col-sm-12">
  <mat-form-field>
    <mat-label>Indiquez votre prix</mat-label>
    <input matInput type="text" [(ngModel)]="valuee">
    <button mat-button *ngIf="valuee" matSuffix mat-icon-button aria-label="Clear" (click)="valuee=''">
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>
</div>
<div class="col-sm-12">
  <mat-divider></mat-divider>
</div>
<div class="col-sm-12">
<h5>Proposez la livraison</h5>
</div>
<div class="col-sm-12" style="display: flex;
flex-direction: column;
margin: 15px 0;">
  <label *ngFor="let radiobuttonn of radioItemss" style="margin-top: 5px; margin-left: 5px;">
    <input type="radio" name="options" (click)="models.option = radiobuttonn"
    [checked]="radiobutton === models.option">     {{radiobuttonn}}
  </label>
  </div>
  <div class="col-sm-12" style="text-align: center;">
<button mat-raised-button type="button" label="Click" (click)="onModalCancel()"  style=" background-color: #EB4444; color: white; margin-right:5px ;" >Annulez</button>
<button mat-raised-button style=" background-color: #4183D7; color: white; margin-left: 5px;" type="button" label="Click" (click)="onOpenSuivantModal()">Suivant </button>
  </div>

  
    
</mat-card>