
a{
    text-decoration: none;
    color: white;
}
 



.mat-list-item
{
	height: 80px;
	width: 80px;
	border-radius: 10px;
	
}
.material-icons.md-48 { font-size: 48px;
						color: #333333;
	text-align: center;
	
	 }
	 @media only screen and (max-height: 400px) {
		.mat-list-item
{
	height: 60px;
	width: 60px;
	border-radius: 10px;
	
}
.material-icons.md-48 { font-size: 24px;
	color: #333333;
	text-align: center;
	
	 }
	  }