<mat-nav-list class="fond">
  <a mat-list-item [routerLink]="['']">
    <mat-icon class="material-icons md-48">home</mat-icon> <span class="nav-caption"></span>
  </a>
  <a mat-list-item (click)="openDepoAnnonce()">
    <mat-icon class="material-icons md-48">add</mat-icon> <span class="nav-caption"></span>
  </a>
  <a mat-list-item (click)="openMessage()">
    <mat-icon class="material-icons md-48">message</mat-icon><span class="nav-caption"></span>
  </a>
  <a mat-list-item (click)="openMenuFavoris()">
    <mat-icon class="material-icons md-48">favorite</mat-icon><span class="nav-caption"></span>
  </a>
</mat-nav-list>