<mat-card>
 <a (click)="onModalCancel()" class="close-button"><mat-icon class="close-icon" color="warn">close</mat-icon></a>
  <h1>Connexion</h1>

  <div class="formLogin">
      
          <div class="form-group">
             
          </div>
          <div class="form-group">
              <label for="username">Email</label>
              <input type="text" class="form-control" />
              <div class="invalid-feedback">

              </div>
          </div>
          <div class="form-group">
              <label for="password">Mot de passe</label>
              <input type="password"  class="form-control"  />
              </div>
          
          <div class="form-group">
              <button [disabled]="loading" class="btn btn-primary" (click) ="onModalCancel()" >Connexion</button>
              <a router link="/" class="btn btn-link" (click)="onModalCancel()">S'inscrire</a>
          </div>
      
  
  </div>
  

  
</mat-card>